<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<div class="container">
  <div class="navbar">
    {{#if user}}
    <div>  
      <img class="media-object" width="150" src="{{user.images.0.url}}" />
      <span>Logged in as <b>{{user.display_name}}</b></span>
    </div>
    <div>
      <a href="logout">Logout</a>
    </div>
    {{else}}
    <div>
      <img src="http://static1.squarespace.com/static/56d660885559866a562b8c69/572ff44c2b8dde9e10b803c5/572ff44e9f72664ead5b2a93/1462760652789/spotify-icon.png" alt="">
      <span>Hello, <b>Anonymous</b></span>
     </div>
    {{/if}}
  </div>

  <div class="main">
    <h1>WAVELENGTH</h1>
    {{#if user}}
      <div id="discover">
        <p>Ready?</p>
        <div id="get-genres" class="btn">Quantify Your Tastes</div>
      </div>
    {{else}}
      <p>Find out what you're really into.</p>
      <div class="btn">
        <a href="/login">Log in with Spotify</a>
      </div>
    {{/if}}
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  
</div>


<script src="../javascripts/chart.js"></script>


