body
  color: #333
  background: #555
  font-family: 'Roboto'
  -webkit-font-smoothing: antialiased
  margin: 0
  padding: 10px
a
  color: #00B7FF
  text-decoration: none

h1 
  font-size: 50pt;
  font-weight: 800;

@media screen and (max-width: 700px) 
  h1 
    font-size: 30pt

.container 
  max-width: 800px
  margin: 0 auto

.main
  margin: 15px 0
  padding: 30px 10px
  background-color: #fff
  align-items: center
  justify-content: center
  text-align: center
  display: flex
  flex-direction: column
  min-height: 50vh
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)

#discover 
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  transition: .5s
  &.hidden 
    opacity: 0
    .btn
      transition: .5s
      width: 0


#tagline
  opacity: 1
  transition: .5s

.btn 
  color: #fff
  background: #111
  width: 300px
  border-radius: 20px
  text-align: center
  cursor: pointer
  height: 40px
  display: flex
  align-items: center
  justify-content: center
  &.primary
    background: #1DB954
    transition: .3s
    &:hover 
      background-color: #2bd266
  a
    color: inherit

.navbar
  color: #fff
  background: #222
  height: 40px
  justify-content: space-between
  flex-direction: row
  display: flex
  padding: 10px 20px
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  align-items: center

  img 
    height: 40px
    width: 40px
    margin: 0 10px 0 0
    border-radius: 50%

  div 
    display: flex
    align-items: center
